html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline}

body { font-family: 'Francois One', sans-serif; font-size:14pt }

#home-inco-logo {max-width: 69% }

ul { list-style-position: inside; list-style-type:none}
li { padding-left: 1px; padding-bottom: 15px; } 

div.section { padding:60px 50px 90px 50px; max-width:65%; margin:40px auto; font-size:125% }
.section p { margin-top:25px }

#logo-head { padding-top:90px; margin:0 auto 60px auto; text-align:center; background-image:url('../img/shipping-container-blocks.jpg'); }

.divider1,
.divider2,
.divider3 { height:45px; line-height:2; background-position: 0px -90px; background-image:url('../img/shipping-container-blocks.jpg'); background-repeat: repeat-x; margin:30px 0; }

.divider1 { background-position: 0px 0px;}
.divider2 { background-position: 0px -140px;}
.divider3 { background-position: 0px -90px;}



h2 { font-size:150%; margin:15px 0 15px 0; }

.cards {
	display: inline-block;
	overflow: hidden;
	margin:auto 10px; 
	/*border:4px solid blue; */
}

.card {
    width:40%; line-height:130%; float:left; padding:5px 5px 5px 5px; text-align:center;
}
.card:hover { cursor: pointer; background-color:#FCFFD6;}

.faqs { cursor:pointer; margin-top:15px;  }
.faqs:hover {text-decoration: underline } 
.faq-active { background-color: #ADDFFF;}

#tagline { font-size:260%; text-align:center; width:80%; margin:10px auto 20px auto; padding:20px 30px 40px 35px;}
#tagline span { background-color:#CECECE; padding:5px }

.product-name { background-color: #ADDFFF; padding:0 2px; } 

.incoterms-explained, .faq-answer { font-size: 80% }
.incoterm { padding:2px 5px; font-size:120%; color:#FFF; border:2px solid #FFF } 
.incoterm:hover { padding:7px; border:0; cursor:pointer; }

.inco-exw { background-color: #477998 } 
.inco-ddp { background-color: #EE6C4D }
.inco-cif { background-color: #F4BD55; letter-spacing:1.2 }
.inco-fob { background-color: #D81E71 }
.inco-cfr { background-color: #21C421 }


#subscription-services { padding:50px; border:3px solid #999; }

.signup-button { background-color: #666; color:#FFF; text-align:center; font-weight:normal; padding:2px 6px; margin-top:10px; }

.subscribe-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.smart-selection {font-size:200%}

#subscribe-popup-div { padding:50px; border:5px solid #1A3ABB; text-align:center; width:98%}


#subscribe-popup-div input { padding:5px; color:white }
#subscribe-popup-div input.yes { background-color:green;}
#subscribe-popup-div input.no { background-color:red;}

.founders { padding-left:8%; font-size:90%; line-height:0.8 }
#results_head_msg,
#results_foot_msg { float:left; width:50% } 
.schema {display:none}

#NOTloader { display:none; width:100px;}
#resultMsg { width:80%; margin:10px auto; padding:25px 25px 50px 25px; display:none; }
#saveResultsMsg {display:none}

.exampletext { font-size:80%; color:#999; wont-weight:normal }

.precision {display:none}

#txTextResult {font-weight:normal;font-size:70%}